   body {
     background-color: #696969;
   }
   
   h1 {
     color: white;
     text-align: center;
   }
   
   h2 {
     color: white;
     text-align: center;
     font-size: 30px;
   }
   
   h3 {
     color: white;
     text-align: center;
     font-size: 24px;
   }
   
   ul {
     color: white;
     text-align: center;
   }
   
   li {
     color: white;
     text-align: center;
     font-size: 19px;
     font-weight: bold;
   }
   
   a {
     color: white;
     text-align: center;
     font-size: 19px;
     font-weight: bold;
   }
   
   p {
     color: white;
     font-family: verdana;
     font-size: 20px;
   }
   
   .center {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
   }
